<?xml  version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <!-- test Group name - User -->
    <testsuite name="User">
        <!-- suffix and directory group -->
        <directory suffix="Test.php">./tests/User</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./tests</directory>
        </whitelist>
    </filter>
</phpunit>
